.ico {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'wee', serif !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

.ico--sm {
	font-size: var(--icon-size-small);
}

.ico--md {
	font-size: var(--icon-size-medium);
}

.ico--lg {
	font-size: var(--icon-size-large);
}

.ico--minus::before {
	content: "\e913";
}

.ico--plus::before {
	content: "\e914";
}

.ico--filters::before {
	content: "\e912";
}

.ico--eye::before {
	content: "\e911";
}

.ico--envelop-round::before {
	content: "\e90f";
}

.ico--exclamation-round::before {
	content: "\e910";
}

.ico--decline::before {
	content: "\e90e";
}

.ico--close::before {
	content: "\e90d";
}

.ico--clock::before {
	content: "\e90c";
}

.ico--cashback::before {
	content: "\e900";
}

.ico--checkmark-round::before {
	content: "\e901";
}

.ico--checkmark::before {
	content: "\e902";
}

.ico--chevron-down::before {
	content: "\e903";
}

.ico--chevron-left::before {
	content: "\e904";
}

.ico--chevron-right::before {
	content: "\e905";
}

.ico--chevron-up::before {
	content: "\e906";
}

.ico--envelop::before {
	content: "\e907";
}

.ico--home::before {
	content: "\e908";
}

.ico--money::before {
	content: "\e909";
}

.ico--notification::before {
	content: "\e90a";
}

.ico--settings::before {
	content: "\e90b";
}
